@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=PT+Sans:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

.container{
    width: 66%;
    margin: 0 auto;
}

/* Float Left and Right */
.float-left{
    float: left;
}

.float-right{
    float: right;
}

.clear{
    clear: both;
}

/* Text Center, end, and left */
.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}


a, a:hover, a:focus{
    text-decoration: none;
}




/* Header */
.header{
    background: #fcdb00;
    padding-top: 60px;
    height: 743px;
    overflow: hidden;
}

.header nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 9.5px 0;
    
}
.header nav ul li{
    margin-right: 75px;
    display: inline;
}
.header nav ul li a{
    font-size: 22px;
    font-weight: 700;
    color: #010101;
}
.header nav ul li a:hover{}


/* Slider */
.slider{}
.slider-left{
    margin-top: 130px;
}
.slider-left .content{
}
.slider-left .content h1{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 24px;
    color: #010101;
}
.slider-left .content h5{
    font-size: 20px;
    color: #313841;
    margin-bottom: 24px;
    font-weight: 400;
}
.slider-left .content p{
    font-size: 16px;
    color: #555555;
    margin-bottom: 40px;
}

.content .icon img{
    margin-right: 35px;
}

.slider-left .content .icon img{}
.slider-right{
    margin-top: 60px;
}

.dott{
    padding: 40px 0px;
}


/* Features */
.features{
    padding-top: 120px;
    padding-bottom: 165px;
    overflow: hidden;
}

.features h2{
    font-size: 32px;
    color: #010101;
    margin-bottom: 20px;
}

.features h4{
    font-size: 20px;
    color: #555555;
    font-weight: normal;
}


.feature-box{
    margin-top: 90px;
}

.feature-icon img{
    margin-right: 10px;
}

.feature-content{
    padding-left: 11px;
}

.feature-content h3{
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 20px;
}

.feature-content p{
    color: #898989;
    font-size: 16px;
    font-weight: normal;
}



/* Footer */
footer{
    background: #010101;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 132px;
    overflow: hidden;
}


footer h2{
    font-size: 32px;
    color: #fcdb00;
    margin-bottom: 20px;
}

footer h4{
    font-size: 20px;
    font-weight: 500;
    color: #898989;
    margin-bottom: 43px;
}


.form .email{
    width: 582px;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: normal;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
}

.btn{
    padding: 15px 35px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    cursor: pointer;
    background: #fcdb00;
    border-radius: 5px;
}

.social-icon{
    margin-top: 80px;
}

.social-icon img{
    margin-right: 34px;
    margin-bottom: 125px;
}

.address h3{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
}

.address p{
    margin-bottom: 5px;
}


footer ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

footer ul li a{
    color: #fff;
    font-size: 16px;
    font-weight: normal;
}